
@if (TempData["MessageSent"] != null)
{
    <div class="alert">@TempData["MessageSent"]</div>
}
<div class="contact-form-container">
    <div style="text-align: center;">
        <h3>Contact Information</h3>
        <p><i class="fa fa-phone"></i> Telephone: 087969602</p>
        <p><i class="fa fa-envelope"></i> Email: a.aleksiev2018@pmg-pernik.com</p>
    </div>


    <form asp-controller="Contact" asp-action="ContactUs" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" value="@Model.FirstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" value="@Model.LastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="@Model.Email" required>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" required>@Model.Comment</textarea>
        </div>
        <button type="submit" class="submit-button btn-primary">Send</button>
    </form>
    
</div>

<style>
    .contact-form-container {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 20px;
        width: 600px;
        margin: 0 auto;
        border-radius :25px
    }

    .submit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div style="height: 15px;"></div>
<div style="text-align: center;">
    <h3>Where to find us:</h3>
<div style="display: flex; justify-content: center;">
    <div style="border-radius: 20px; overflow: hidden;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5224.11019634947!2d23.363437556975008!3d42.70514330100276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1682104689067!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

